BinaryCoding.pyc
Chromosome.pyc
function.pyc
.vscode/launch.json
.vscode/settings.json
__pycache__/BinaryCoding.cpython-38.pyc
__pycache__/Chromosome.cpython-38.pyc
__pycache__/function.cpython-38.pyc
__pycache__/GeneticAlgorithm.cpython-38.pyc
__pycache__/Hromozome.cpython-38.pyc
__pycache__/parameters.cpython-38.pyc
